{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
<div>
<h2>Add Profile</h2>
    <form action="{% url 'add_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Photo</p>
        <input type="file" name="photo">
        </br>
        <input type="checkbox" name="gravatar"> Use my gravatar
        </br>
        <input type="submit" value="Submit" class='btn btn-success'/>
    </form>
    <!--
    <form  action="{% url 'add_experience' %}" method="post">
            {{ form_experience|crispy }}
         <input type="submit" value="Submit" class='btn btn-success'/>
    </form> -->
</div>
{% endblock %}