{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
{% include "fm/modal.html" %}
<div>
<h2>Add Profile</h2>
    <form id="add-profile"  action="{% url 'add_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>

    <div class="modal hide" id="thanksModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
          <h1>Thank you</h1>

      </div>
      <div class="modal-footer">
           <input name="cancel" class="btn" type="submit" value="Cancel"/>
      </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $.fm({debug: true});
    });
    $('#add-profile').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });
    // AJAX for posting
    function create_post() {
    console.log("create post is working!") // sanity check
     var frm = $('#add-profile');
     $.ajax({
        url: frm.attr('action'), // the file to call
        type: frm.attr('method'), // GET or POST
        data: frm.serialize(), // get the form data
        success: function(response) { // on success..
                 console.log(response) // sanity check
                 if (typeof response.success != 'undefined') {
                     $('#create-experience').click();
                } else {
                    $('#create-experience').click();
                }
         }
        });
        };
</script>
{% endblock %}