{% extends 'base.html' %}
{% block content %}
  <h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p>
	<h2>Projects</h2>
    {% if projects %}
   		<ul>
    		{% for project in projects %}
        		<li><a href="{% url 'view_project' project.id %}">{{ project.description }}</a></li>
    		{% endfor %}
    	</ul>
    {% else %}
        <li><a href="{% url 'add_project' %}">Add Project</a></li>
	{% endif %}
	<h2>Profiles</h2>
  	{% if profiles %}
   		<ul>
    		{% for profile in profiles %}
        		<li><a href="{% url 'view_profile' profile.id %}">{{ profile.name }}</a></li>
    		{% endfor %}
    	</ul>
	{% endif %}
	{% endblock %}
</html>

