{% extends 'base.html' %}

{% block content %}
  <h2>Project: {{ object.description }}</h2>
  <form action="{% url 'apply_project' project.id %}" method="post">
      {% csrf_token %}
      <p>Company: {{ object.company.name }}</p>
      <p>Description: {{ object.description }}</p>
      <p>Required Skills: </p>
      <ul>
      {% for skill in object.required_skills.all %}
      <li> {{ skill }}</li>
      {% endfor %}
      </ul>
      <p>Published: {{ object.date|date }}</p>

      <input type="submit" value="Apply" class='btn btn-success'/>
  </form>


{% endblock %}