{% extends 'base.html' %}

{% block content %}
  <h2>Project: {{ object.description }}</h2>
  <form action="{% url 'apply_project' project.id %}" method="post">
      {% csrf_token %}
      <p>Company: {{ object.company.name }}</p>
      <p>Description: {{ object.description }}</p>
      <p>Skills: </p>
      {% for skill in object.required_skills.all %}
      <p><li> {{ skill }}</li><br/> </p>
      {% endfor %}
      <p>Published: {{ object.date|date }}</p>

      <input type="submit" value="Apply" />
  </form>


{% endblock %}