{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include "fm/modal.html" %}

<script type="text/javascript">
    $(function() {
        $.fm({debug: true});
    });
</script>

<h2>Edit Profile</h2>
<form id="update-profile"  action="{% url 'profile_update' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
</form >

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
// Variable to store your files
    var files;

    // Add events
    $('input[type=file]').on('change', prepareUpload);

    // Grab the files and set them to our variable
    function prepareUpload(event)
    {
    files = event.target.files;
    }

    $('#update-profile').on('submit', function(event){
        //event.preventDefault();
        console.log("form submitted!")  // sanity check
        uploadFiles();
    });
    function uploadFiles(event){
    event.stopPropagation(); // Stop stuff happening
    event.preventDefault(); // Totally stop stuff happening

    // START A LOADING SPINNER HERE

    // Create a formdata object and add the files

    var data = new FormData();
    $.each(files, function(key, value)
    {
        data.append(key, value);
    });

    $.ajax({
        url: $('#update-profile').attr('action'),
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data, textStatus, jqXHR)
        {
            if(typeof data.error === 'undefined')
            {
                // Success so call function to process the form
                $("#submit-id-submit").notify(response.message)
                //submitForm(event, data);

            }
            else
            {
                // Handle errors here
                $("#submit-id-submit").notify(response.message)
                console.log('ERRORS: ' + data.error);
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            // Handle errors here
            console.log('ERRORS: ' + textStatus);
            // STOP LOADING SPINNER
        }
    });
}

    // AJAX for posting
    function create_post() {

    form = $('#update-profile')[0];
     var formData = new FormData(form);
    $.each(files, function(key, value)
    {
        data.append(key, value);
    });

     console.log(formData);
     $.ajax({
        url: $('#update-profile').attr('action'), // the file to call
        type: $('#update-profile').attr('method'), // GET or POST
        data: frm, // get the form data
        dataType: 'json',
        dataType: 'json',
        success: function(response) { // on success..
                 console.log(response) // sanity check

         }
        });
        };
</script>

{% endblock %}