{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
{% csrf_token %}
    <h2>Profiles</h2>
    {% if profiles %}
   		<ul>
    		{% for profile in profiles %}
			<li class="front"><img src="{{ profile.photo }}" width="150" height="150"  /></br>
					<a href="{% url 'cv' profile.id %}">{{ profile.name }}</a>
				</li>
    		{% endfor %}
    	</ul>
    {% else %}
        <p>No profiles found</p>
	{% endif %}

    <h2>Projects</h2>
    {% if projects %}
   		<ul>
    		{% for project in projects %}
				<li class="front"><img src="{{ project.company.logo }}" width="150" height="150"  /></br>
        		<a href="{% url 'view_project' project.id %}">{{ project.description }}</a>
    		{% endfor %}
    	</ul>
    {% else %}
        <p>No projects found</p>
	{% endif %}
</div>
{% endblock %}
