{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div>
{% csrf_token %}
<header>
  <h1>Profiles</h1>

</header>

    {% if profiles %}
	<section class="tiles">
	{% for profile in profiles %}
	<article class="style{{ rand|add:"123456"|make_list|random }}">
		<span class="image">
			<img src="{{ profile.photo }}" alt="" />
		</span>
		<a href="{% url 'cv' profile.id %}">
			<h2>{{ profile.name }}</h2>
			<div class="content">
				<p>{{ profile.type }}</p>
			</div>
		</a>
	</article>
    {% endfor %}
</section>
    {% else %}
        <h2>It seems that noboby is here,<a href="{% url 'signup' %}"> please serve yourself</a></h2>
	{% endif %}
<br>
    <h1>Projects</h1>
    {% if projects %}
   		<section class="tiles">
	{% for project in projects %}
	<article class="style{{ rand|add:"123456"|make_list|random }}">
		<span class="image">
			<img src="{% static 'images/pic01.jpg' %}" alt="" />
		</span>
		<a href="{% url 'project' project.id %}">
			<h2>{{ project.company.name }}</h2>
			<div class="content">
				<p>{{ project.description }}</p>
			</div>
		</a>
	</article>
	{% endfor %}
</section>
    {% else %}
        <h2>No projects found, <a href="{% url 'signup_company' %}">post your own</a></h2>
	{% endif %}
</div>
{% endblock %}
