Django==1.10.2      # Django ...
psycopg2==2.6.2     # PostgreSQL adapter
uwsgi==2.0.14       # The uWSGI Server
Jinja2==2.8         # A small but fast and easy to use stand-alone template engine written in pure python

# Linting
pylint==1.6.4
pillow==4.1.1
social-auth-app-django==1.1.0
django-debug-toolbar==1.7
djangorestframework==3.6.3
django-rest-swagger==2.1.1
django-bootstrap3
django-crispy-forms
cloudinary
django-gravatar2
Weasyprint
django-fm
django-formtools
django-widget-tweaks
django-mailgun

