{% load static %}
<!DOCTYPE HTML>
<html type="text/html">
<head>
  <title>Webmonks</title>
    <title>Webmonks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %}" /><![endif]-->
    <script src="{% static 'js/notify.min.js' %}"></script>
</head>
<body>
   <div id="wrapper">
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="{% url 'index' %}" class="logo">
          <span class="symbol"><img src="{% static 'images/logo.svg' %}" alt="" /></span><span class="title">The Webmonks Database</span>
          </a>

    <!-- Nav -->
  	    <nav>
          <ul>
              <li><a href="#menu">Menu</a></li>
          </ul>
         </nav>
        </div>
      </header>
      <nav id="menu">
        <h2>Menu</h2>
          <ul>
            {% if user.is_authenticated %}
             <li><a href="{% url 'company_home' %}">Home</a></li>
             <li><a href="{% url 'add_project' %}">Create project</a></li>
             <li><a href="{% url 'my_projects' %}">My projects</a></li>
              <li><a href="{% url 'pending_payments' %}">Pending Payments</a></li>
             <li><a href="{% url 'user_settings' %}">Settings</a> </li>
             <li><a href="{% url 'password' %}">Change password</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
             <li><a href="{% url 'index' %}">Home</a> </li>
             <li><a href="{% url 'login' %}">Login</a> </li>
             <li><a href="{% url 'signup' %}">Register as freelance</a></li>
             <li><a href="{% url 'signup_company' %}">Register as company</a></li>
            {% endif %}
          </ul>
      </nav>
    <div id="main">
       <div class="inner">
    {% for message in messages %}
      <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
    {% block content %}
    {% endblock %}
        </div>
   </div>

	<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li>
							</ul>
						</div>
					</footer>
   </div>
	<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'js/main.js' %}"></script>
</body>
</html>