{% extends 'companies/base.html' %}
{% load static %}
{% block content %}
<header>
  <h1>Welcome {{ user.username }}</h1>

</header>
{% if profiles %}
<h3>Perhaps this profiles might interest you:</h3>
<section class="tiles">
	{% for profile in profiles %}
	<article class="style{{ rand|add:"123456"|make_list|random }}">
		<span class="image">
			<img src="{% static 'images/pic01.jpg' %}" alt="" />
		</span>
		<a href="{% url 'cv' profile.id %}">
			<h2>{{ profile.name }}</h2>
			<div class="content">
				<p>{{ profile.type }}</p>
			</div>
		</a>
	</article>
    {% endfor %}
</section>
{% endif %}
<hr>
{% endblock %}
</html>
