{% extends 'companies/base.html' %}

{% block content %}
<h2>Name: {{ profile.name }}</h2>
<img src="{{ profile.photo }}" width="150" height="150"  /></br>
      {% csrf_token %}
<ul class="alt">
      <li>Last name: {{ profile.last_name }}</li>
      <li>Email: {{ profile.email }}</li>
      <li>Personal page: {{ profile.personal_page }}</li>
      <li>Birthday: {{ profile.birthday }}</li>

    {% if object.skill %}
        <li>Skills:</li>
        <ul>
            {% for skill in object.skills.all %}
            <li> {{ skill }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if studies %}
        <li>Education:</li>
            <ul>
            {% for item in studies.all %}
                <li>{{ item.university }}</li>
                <li>{{ item.degree }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    {% if experiences %}
        <li>Experience:</li>
            <ul>
                {% for item in experiences.all %}
                <li>{{ item.role }}</li>
                <li> {{ item.description }}</li>
                {% endfor %}
            </ul>
    {% endif %}
</ul>
 <input type="submit" value="Contact"  />

{% endblock %}