{% extends 'companies/base.html' %}
{% block content %}
<ul class="alt">
  <li>Project: {{ project.description }}</li>
      <li>Company: {{ project.company.name }}</li>
      <li>Description: {{ project.description }}</li>
     <li>Required Skills: </li>
      <ul>
      {% for skill in project.required_skills.all %}
      <li> {{ skill }}</li>
      {% endfor %}
      </ul>
      <li>Freelancers in this project:</li>
        <ul>
           {% for freelance in project.freelancers.all %}
            <li><a href="{% url 'cv' freelance.id %}">{{ freelance.name }}</a></li>
            {% endfor %}
        </ul>
      <li>Published: {{ project.date|date }}</li>
 </ul>
{% endblock %}