{% extends 'companies/base.html' %}

{% block content %}
  <h2>Project: {{ project.description }}</h2>
  <form action="{% url 'apply_project' project.id %}" method="post">
      {% csrf_token %}
      <p>Company: {{ project.company.name }}</p>
      <p>Description: {{ project.description }}</p>
     <p>Required Skills: </p>
      <ul>
      {% for skill in project.required_skills.all %}
      <li> {{ skill }}</li>
      {% endfor %}
      </ul>
      <p>Freelancers in this project:</p>
      <ul>
           {% for freelance in project.freelancers.all %}
            <li><a href="{% url 'cv' freelance.id %}">{{ freelance.name }}</a></li>
            {% endfor %}
      </ul>
      <p>Published: {{ project.date|date }}</p>
  </form>


{% endblock %}